@model SWAT.Models.tblswatccexternalsupport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblSWATCCexternalSupport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblswatsurvey.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATfundAppLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATfundAppLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATfundAppSuccessLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATfundAppSuccessLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATgovRightsLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATgovRightsLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATgovWatPolLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATgovWatPolLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATgovWatAnalLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATgovWatAnalLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATextVisitLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATextVisitLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATextVisitLU1.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATextVisitLU1.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.expertAccess1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.expertAccess1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.expertAccess2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.expertAccess2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.expertAccess3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.expertAccess3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.expertAccess4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.expertAccess4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.expertAccess5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.expertAccess5)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
