@model SWAT.Models.tblswatsurvey

@section Scripts
{
  <script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/highcharts.js")" type="text/javascript"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  @Scripts.Render("~/Content/SurveyReport.js")
}

<div>
    <h4>Survey Report - @Model.tblswatlocation.name</h4>
	<hr />
    <dl class="dl-horizontal">
        
        <dt>
            Assessment Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            Community
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblswatlocation.name)
        </dd>

    </dl>
    @Html.HiddenFor(model => model.ID)
    @{Html.RenderAction("_WPreportlist", new { id = Model.ID });}
    
    <p>
        <b>Please choose a chart:</b>
    </p>
    @Html.DropDownList("ReportList")
    @*<div id="loading">
        <img src="~/Content/images/ajaxloader.gif" />
    </div>*@
    <div id="report"></div>
</div>

<p>
    <a href="/">Back to Survey List</a>
</p>
