@model SWAT.Models.tblswatsurvey

@{
    ViewBag.Title = "WaterPoints";
}

<h2>Water Points</h2>

<fieldset>
    <legend>Water Points</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>*@

    <div class="display-label">
         <b>Community</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblswatlocation.name)
    </div>
</fieldset>
<hr />
@if(Model.tblswatwpoverviews.Where(e => e.SurveyID == Model.ID).ToList().Count() < 23)
{
    @Html.ActionLink("Create New Water Point", "Create", "WaterPoint", new { SurveyID = Model.ID }, null)
}
else
{
    <p><b>You can have upto 23 Water points for each community.</b></p>
}
@if (Model.tblswatwpoverviews.Any())
{
    Html.RenderPartial("_wpList", Model);
}
else
{ 
    <p>The commnuity does not have any water point.</p>
}
<br />
<p>
    <a href="/">Back to Survey List</a>
</p>
