@model SWAT.Models.tblswatswpag

@{
    ViewBag.Title = "Create";
}

<h2>Create - Source Water Risks and Protection</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.SurveyID, new { SurveyID=ViewBag.SurveyID})

    <fieldset>
        <legend>Agriculture</legend>

        <p>
            @ViewBag.Question1
        </p>
        <div class="editor-label">
            @Html.LabelFor(model => model.agType1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.agType1)
            @Html.ValidationMessageFor(model => model.agType1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.agType2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.agType2)
            @Html.ValidationMessageFor(model => model.agType2)
        </div>

        <hr />
        <p>
            @ViewBag.Question2
        </p>
        <div class="editor-field">
            @Html.DropDownList("fertilizer", String.Empty)
            @Html.ValidationMessageFor(model => model.fertilizer)
        </div>

        <hr />
        <p>
            @ViewBag.Question3
        </p>
        <div class="editor-field">
            @Html.DropDownList("pesticide", String.Empty)
            @Html.ValidationMessageFor(model => model.pesticide)
        </div>

        <hr />
        <p>
            @ViewBag.Question4
        </p>
        <div class="editor-field">
            @Html.DropDownList("erosion", String.Empty)
            @Html.ValidationMessageFor(model => model.erosion)
        </div>

        <hr />
        <p>
            @ViewBag.Question5
        </p>
        <div class="editor-field">
            @Html.DropDownList("bestManagement", String.Empty)
            @Html.ValidationMessageFor(model => model.bestManagement)
        </div>

        <hr />
        <p>
            @ViewBag.Question6
        </p>
        <div class="editor-field">
            @Html.DropDownList("cropLoss", String.Empty)
            @Html.ValidationMessageFor(model => model.cropLoss)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p>
                    <br />
                    <input type="submit" value="Next" class="btn btn-default" />
                </p>
            </div>
        </div>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
