@model SWAT.Models.tblswatccindig

@{
    ViewBag.Title = "Create";
}

<h2>Create - Community Capacity</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Knowledge Capital - Indigenous Knowledge</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SurveyID, new { SurveyID=ViewBag.SurveyID})

        <p>
            @ViewBag.Question1
        </p>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.indigPop)
                @Html.ValidationMessageFor(model => model.indigPop)
            </div>
        </div>

        <hr />
        <p>
            @ViewBag.Question2
        </p>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.longtermPop)
                @Html.ValidationMessageFor(model => model.longtermPop)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
