@model SWAT.Models.tblswatwariskprep

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblSWATWAriskPrep</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lkpswatextremepreplu.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatextremepreplu.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatextremepreplu1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatextremepreplu1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatextremepreplu2.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatextremepreplu2.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatextremerisklu.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatextremerisklu.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatextremerisklu1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatextremerisklu1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatextremerisklu2.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatextremerisklu2.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblswatsurvey.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
