@model SWAT.Models.userid

<div>
    @{
        var grid = new  WebGrid(Model.tblswatsurveys.OrderByDescending(e => e.StartTime).ToList(), rowsPerPage: 5);
        @grid.GetHtml(
        tableStyle: "table",
        columns: grid.Columns(
        grid.Column("tblswatlocation.name", header: "Settlement"),
        grid.Column("tblswatlocation.lkpsubnational.Name", header: "Subnation"),
        grid.Column("tblswatlocation.lkpCountry.CommonName", header: "Country"),
        grid.Column("tblswatlocation.lkpregion.Name", header: "Region"),
        grid.Column("StartTime", header: "Start Date"),
        grid.Column(header: "", format: (item) => new HtmlString(
            @Html.ActionLink("Report", "Report", "Survey", new {id = item.id}, null).ToString() + " | " +
            @Html.ActionLink("Progress", "Progress", "Survey", new {id = item.id}, null).ToString() + " | " +
            @Html.ActionLink("Water Points", "WaterPoints", "Survey", new {id = item.id}, null).ToString() + " | "+
            //@Html.ActionLink("Details", "Details", "Survey", new {id = item.id}, null).ToString() + " | " +
            @Html.ActionLink("Edit", "Edit", "Location", new { uid = Model.Userid1, id = item.LocationID, SurveyID=item.ID}, null).ToString() + " | "+
            @Html.ActionLink("Delete", "Delete", "Survey", new {id = item.id}, null).ToString()
                        )
        )));   
        }
</div>

