@model SWAT.Models.userid

@{
    ViewBag.Title = "Details";
}

<h2>SWAT</h2>

<div>
    <h4>Assessments List</h4>
	<hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.targetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotifStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotifStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PMEmailNotificationsEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PMEmailNotificationsEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Joined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSuggestedContentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSuggestedContentDate)
        </dd>*@

        <dt>
            User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        

    </dl>
    <dl>
        <dt>
            My Assessment    
        </dt>

        <dd>
             @Html.ActionLink("Start a new assessment", "Create", "Location", new { uid = Model.Userid1 }, null)
        </dd>
    </dl>

    @{ if (Model.tblswatsurveys.Any())
       {
        Html.RenderPartial("_Surveys", Model);
       }
       else
       {
          <p>You do not have any survey.</p>
       }
     }
    </div>
    
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Userid1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
