@model IEnumerable<SWAT.Models.tblswatwaprecipitation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SurveyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.January)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.February)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.March)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.April)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.May)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.June)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.July)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.August)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.September)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.October)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.November)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.December)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.January)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.February)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.March)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.April)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.May)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.June)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.July)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.August)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.September)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.October)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.November)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.December)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
