@model SWAT.Models.tblswatccsocial

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblSWATCCsocial</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblswatsurvey.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswat5ranklu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswat5ranklu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswat5ranklu1.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswat5ranklu1.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.socCBO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.socCBO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.socAttend)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.socAttend)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
