@model SWAT.Models.tblswatbackgroundinfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblSWATBackgroundinfo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Population)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Population)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numHouseholds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numHouseholds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numChildren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeoplePerHH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeoplePerHH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaForest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaForest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaAg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaAg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaInf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaInf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaSw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaSw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaWet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaWet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaNat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaNat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpBiome.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpBiome.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpClimateClassification.CCType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpClimateClassification.CCType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSoil.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSoil.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATareaProtLU.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATareaProtLU.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATmapAridity.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATmapAridity.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATurbanDistanceLU.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATurbanDistanceLU.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATWatershedsLU.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATWatershedsLU.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblswatsurvey.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATareaBMLU.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATareaBMLU.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATeconPrisLU.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATeconPrisLU.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATpriorLU.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATpriorLU.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATpriorLU1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATpriorLU1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATpriorLU2.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATpriorLU2.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATpriorLU3.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATpriorLU3.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATpriorLU4.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATpriorLU4.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATpriorLU5.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATpriorLU5.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATpriorLU6.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATpriorLU6.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATpriorLU7.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATpriorLU7.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatyesnolu.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatyesnolu.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatyesnolu1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatyesnolu1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatyesnolu2.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatyesnolu2.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
