@model IEnumerable<SWAT.Models.tblswatswpl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livestock1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livestock2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.waterFenced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblswatsurvey.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livestock1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livestock2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.waterFenced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
