@model IEnumerable<SWAT.Models.tblswatccwatermanagement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATwatComLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.watAdminOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATwatActionPlanLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu2.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu3.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu4.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATcomSatisfactionLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATwatClassRepLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATwatComConcernsLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATwatTechStaffLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATwatTechTrainingLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATwatBudgetLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.watFinPlan1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.watFinPlan2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATproPoorLU.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblswatsurvey.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATwatComLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.watAdminOther)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATwatActionPlanLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu2.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu3.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu4.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATcomSatisfactionLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATwatClassRepLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATwatComConcernsLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATwatTechStaffLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATwatTechTrainingLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATwatBudgetLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.watFinPlan1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.watFinPlan2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATproPoorLU.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
