@model SWAT.Models.tblswatwpoverview

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblSWATWPoverview</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblswatsurvey.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.wpname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wpname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatwpaloc.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatwpaloc.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.wpausedom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wpausedom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.wpauseinst)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wpauseinst)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.wpauseec)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wpauseec)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                    <br />
                    <input type="submit" value="Delete" class="btn btn-default" /> | @Html.ActionLink("Back to List", "Index")
               
            </div>
        </div> 
        
    </p>
}
