@model SWAT.Models.tblswatsfsanitation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblswatsfsanitation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblswatsurvey.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATtoiletsAllLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATtoiletsAllLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.toiletHome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.toiletHome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.toiletYard)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.toiletYard)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.toilet100)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.toilet100)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.toilet500)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.toilet500)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.toiletFar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.toiletFar)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
