@model IEnumerable<SWAT.Models.tblswatsfsanitation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATtoiletsAllLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toiletHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toiletYard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toilet100)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toilet500)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toiletFar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblswatsurvey.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATtoiletsAllLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toiletHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toiletYard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toilet100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toilet500)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toiletFar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
