@model IEnumerable<SWAT.Models.tblswatwpsupply>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblswatwpoverview.wpname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domPercentUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectDry1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectDryAmount1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectWet1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectWetAmount1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectDry2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectDryAmount2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectWet2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectWetAmount2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectDry3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectDryAmount3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectWet3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domCollectWetAmount3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domPipedNumHHDry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domPipedNumHHWet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatdomwateruseslu.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwatercollecttimelu.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwatereffortlu.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatcollectdangerlu.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domdangerType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domdangerType2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domdangerType3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu2.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu3.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu4.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu5.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionHigh1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionHigh2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionHigh3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionHigh4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionLow1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionLow2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionLow3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionLow4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionPeopleServedWet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInstitutionPeopleServedDry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu6.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwatercollecttimelu1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwatereffortlu1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatcollectdangerlu1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indangerType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indangerType2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indangerType3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu7.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu8.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu9.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu10.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu11.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ecWaterUse1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ecWaterUse2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ecWaterUse3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ecWaterUse4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ecWaterUse5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ecWaterDemandDry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ecWaterDemandWet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu12.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu13.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInterruption1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInterruption2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInterruption3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInterruption4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInterruption5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaInterruption6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu2.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu3.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu4.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu5.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu6.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu7.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu8.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu9.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu10.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatwpareliabilitymonthlu11.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaReliabilityProblem1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaReliabilityProblem2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaReliabilityProblem3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaReliabilityProblem4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaReliabilityProblem5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaReliabilityProblem6)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblswatwpoverview.wpname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domPercentUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectDry1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectDryAmount1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectWet1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectWetAmount1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectDry2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectDryAmount2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectWet2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectWetAmount2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectDry3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectDryAmount3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectWet3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domCollectWetAmount3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domPipedNumHHDry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domPipedNumHHWet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatdomwateruseslu.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwatercollecttimelu.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwatereffortlu.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatcollectdangerlu.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domdangerType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domdangerType2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domdangerType3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu2.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu3.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu4.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu5.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionHigh1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionHigh2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionHigh3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionHigh4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionLow1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionLow2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionLow3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionLow4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionPeopleServedWet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInstitutionPeopleServedDry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu6.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwatercollecttimelu1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwatereffortlu1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatcollectdangerlu1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indangerType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indangerType2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indangerType3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu7.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu8.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu9.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu10.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu11.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ecWaterUse1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ecWaterUse2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ecWaterUse3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ecWaterUse4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ecWaterUse5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ecWaterDemandDry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ecWaterDemandWet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu12.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu13.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInterruption1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInterruption2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInterruption3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInterruption4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInterruption5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaInterruption6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu2.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu3.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu4.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu5.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu6.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu7.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu8.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu9.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu10.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatwpareliabilitymonthlu11.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaReliabilityProblem1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaReliabilityProblem2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaReliabilityProblem3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaReliabilityProblem4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaReliabilityProblem5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaReliabilityProblem6)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
