@model SWAT.Models.tblswatsfseptic

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblswatsfseptic</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblswatsurvey.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicToilets)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicToilets)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicUnderstand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicUnderstand)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicDistance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicDistance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicPlug)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicPlug)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicPumped)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicPumped)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicTrash)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicTrash)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicChemicals)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicChemicals)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswat5ranklu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswat5ranklu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswat5ranklu1.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswat5ranklu1.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATpubCleanLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATpubCleanLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicPubAccessGroup1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicPubAccessGroup1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicPubAccessGroup2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicPubAccessGroup2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.septicPubAccessGroup3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.septicPubAccessGroup3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu1.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu1.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu2.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu2.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWAThhCleanLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWAThhCleanLU.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
