@model IEnumerable<SWAT.Models.tblswatsfseptic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicToilets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicUnderstand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicPlug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicPumped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicTrash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicChemicals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswat5ranklu1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATpubCleanLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicPubAccessGroup1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicPubAccessGroup2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.septicPubAccessGroup3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatyesnolu.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatyesnolu1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpswatyesnolu2.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWAThhCleanLU.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblswatsurvey.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicToilets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicUnderstand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicPlug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicPumped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicTrash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicChemicals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswat5ranklu1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATpubCleanLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicPubAccessGroup1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicPubAccessGroup2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.septicPubAccessGroup3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatyesnolu.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatyesnolu1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpswatyesnolu2.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWAThhCleanLU.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
