@model SWAT.Models.tblswatwagroundwater

@{
    ViewBag.Title = "Edit";
}

<h2>Edit - Water Availability</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ground Water</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.SurveyID, new { SurveyID=ViewBag.SurveyID})

        <p>
            If a hydrogeological assessment has been done, what is the availability of groundwater resources in your community? If no assessment has been done, select "unsure."
        </p>
        <div class="form-group">
            @Html.LabelFor(model => model.gwAvailability, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("gwAvailability", String.Empty)
                @Html.ValidationMessageFor(model => model.gwAvailability)
            </div>
        </div>

        <hr />
        <p>
            Are groundwater resources reliable year-round?
        </p>
        <div class="form-group">
            @Html.LabelFor(model => model.gwReliability, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("gwReliability", String.Empty)
                @Html.ValidationMessageFor(model => model.gwReliability)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
