@model SWAT.Models.tblswatwpswpr

<p>
    @ViewBag.Question23
</p>
<div class="editor-field">
    @Html.DropDownList("rwFirstFlush", String.Empty)
    @Html.ValidationMessageFor(model => model.rwFirstFlush)
</div>

<hr />
<p>
    @ViewBag.Question24
</p>
<div class="editor-field">
    @Html.DropDownList("rwOpen", String.Empty)
    @Html.ValidationMessageFor(model => model.rwOpen)
</div>

<hr />
<p>
    @ViewBag.Question25
</p>
<div class="editor-field">
    @Html.DropDownList("rwRoof", String.Empty)
    @Html.ValidationMessageFor(model => model.rwRoof)
</div>

<hr />
<p>
    @ViewBag.Question26
</p>
<div class="editor-field">
    @Html.DropDownList("rwGutters", String.Empty)
    @Html.ValidationMessageFor(model => model.rwGutters)
</div>

<hr />
<p>
    @ViewBag.Question27
</p>
<div class="editor-field">
    @Html.DropDownList("rwCracked", String.Empty)
    @Html.ValidationMessageFor(model => model.rwCracked)
</div>

<hr />
<p>
    @ViewBag.Question28
</p>
<div class="editor-field">
    @Html.DropDownList("rwDipper", String.Empty)
    @Html.ValidationMessageFor(model => model.rwDipper)
</div>

<hr />
<p>
    @ViewBag.Question29
</p>
<div class="editor-field">
    @Html.DropDownList("rwLeak", String.Empty)
    @Html.ValidationMessageFor(model => model.rwLeak)
</div>

<hr />
<p>
    @ViewBag.Question30
</p>
<div class="editor-field">
    @Html.DropDownList("rwDirty", String.Empty)
    @Html.ValidationMessageFor(model => model.rwDirty)
</div>
