@model SWAT.Models.tblswatwpswpr

<p>
    @ViewBag.Question4
</p>
<div class="editor-field">
    @Html.DropDownList("springBox", String.Empty)
    @Html.ValidationMessageFor(model => model.springBox)
</div>

<hr />
<p>
    @ViewBag.Question5
</p>
<div class="editor-field">
    @Html.DropDownList("springBackfill", String.Empty)
    @Html.ValidationMessageFor(model => model.springBackfill)
</div>

<hr />
<p>
    @ViewBag.Question6
</p>
<div class="editor-field">
    @Html.DropDownList("springCover", String.Empty)
    @Html.ValidationMessageFor(model => model.springCover)
</div>

<hr />
<p>
    @ViewBag.Question7
</p>
<div class="editor-field">
    @Html.DropDownList("springWaterPool", String.Empty)
    @Html.ValidationMessageFor(model => model.springWaterPool)
</div>

<hr />
<p>
    @ViewBag.Question8
</p>
<div class="editor-field">
    @Html.DropDownList("springAnimals", String.Empty)
    @Html.ValidationMessageFor(model => model.springAnimals)
</div>

<hr />
<p>
    @ViewBag.Question9
</p>
<div class="editor-field">
    @Html.DropDownList("springLatrine", String.Empty)
    @Html.ValidationMessageFor(model => model.springLatrine)
</div>

<hr />
<p>
    @ViewBag.Question10
</p>
<div class="editor-field">
    @Html.DropDownList("springUphill", String.Empty)
    @Html.ValidationMessageFor(model => model.springUphill)
</div>

<hr />
<p>
    @ViewBag.Question11
</p>
<div class="editor-field">
    @Html.DropDownList("springDiversion", String.Empty)
    @Html.ValidationMessageFor(model => model.springDiversion)
</div>