@model SWAT.Models.tblswatwpswpr

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblSWATWPswpr</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblswatwpoverview.wpname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblswatwpoverview.wpname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu1.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu1.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu2.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu2.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu3.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu3.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu4.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu4.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu5.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu5.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu6.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu6.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu7.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu7.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu8.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu8.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu9.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu9.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu10.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu10.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu11.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu11.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu12.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu12.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu13.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu13.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu14.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu14.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu15.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu15.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu16.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu16.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu17.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu17.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu18.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu18.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu19.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu19.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu20.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu20.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu21.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu21.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu22.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu22.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu23.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu23.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu24.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu24.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu25.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu25.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu26.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu26.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu27.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu27.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu28.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu28.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu29.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu29.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu30.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu30.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu31.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu31.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu32.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu32.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu33.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu33.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu34.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu34.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu35.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu35.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatpipedsuitabilitylu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatpipedsuitabilitylu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatpipedcost1lu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatpipedcost1lu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatpipedcost2lu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatpipedcost2lu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatpipedcost3lu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatpipedcost3lu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pipedRevenue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pipedRevenue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pipedExpenditure)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pipedExpenditure)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pipedBalance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pipedBalance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatyesnolu36.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatyesnolu36.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswatpipedagelu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswatpipedagelu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pipedFuture1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pipedFuture1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pipedFuture2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pipedFuture2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pipedFuture3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pipedFuture3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pipedFuturePop1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pipedFuturePop1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pipedFuturePop2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pipedFuturePop2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pipedFuturePop3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pipedFuturePop3)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
