@model IEnumerable<SWAT.Models.tblswatsfpoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATsanTypeLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sanUseInd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sanUsePub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanUseCom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblswatsurvey.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATsanTypeLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sanUseInd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sanUsePub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanUseCom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
