@model SWAT.Models.tblswathppkhp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblswathppkhp</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblswatsurvey.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.knowledgeQual)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.knowledgeQual)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trainingAccess1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trainingAccess1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trainingAccess2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trainingAccess2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trainingAccess3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trainingAccess3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trainingAccess4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trainingAccess4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trainingAccess5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trainingAccess5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpswat5ranklu.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpswat5ranklu.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.handWash)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.handWash)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.childFaeces1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.childFaeces1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.childFaeces2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.childFaeces2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.childFaeces3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.childFaeces3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.childFaeces4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.childFaeces4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.childFaeces5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.childFaeces5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.childFaeces6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.childFaeces6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.childFaeces7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.childFaeces7)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
