@model SWAT.Models.tblswatsfod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblswatsfod</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblswatsurvey.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemographic1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemographic1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemographic2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemographic2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemographic3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemographic3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemographic4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemographic4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemographicNONE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemographicNONE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hhNoToilet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hhNoToilet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sharedFacPercent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sharedFacPercent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODPercent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODPercent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemoGender1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemoGender1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemoGender2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemoGender2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemoGender3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemoGender3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemoGender4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemoGender4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODdemoGenderNONE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODdemoGenderNONE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ODfacilitator11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ODfacilitator11)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
