@model SWAT.Models.tblswatwamonthlyquantity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblSWATWAMonthlyQuantity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu2.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu2.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu3.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu3.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu4.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu4.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu5.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu5.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu6.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu6.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu7.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu7.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu8.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu8.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu9.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu9.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu10.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu10.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu11.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu11.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblswatsurvey.ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
