@model SWAT.Models.tblswatwamonthlyquantity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblSWATWAMonthlyQuantity</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu2.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu2.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu3.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu3.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu4.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu4.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu5.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu5.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu6.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu6.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu7.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu7.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu8.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu8.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu9.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu9.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu10.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu10.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpswatwatermonthlu11.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpswatwatermonthlu11.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblswatsurvey.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblswatsurvey.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
